
.board-item {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.board-item.active {
  opacity: 1;
  transform: translateY(0);
}

.image-container {
  position: relative;
  display: inline-block; /* Ensures the container takes up only as much space as the images */
  left: 60px;
}

.bottom-image {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.top-image {
  display: block;
  width: 90%;
  height: auto;
  position: absolute;
  top: 5px;
  left: 8px;
  opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
}

.css-hyum1k-MuiToolbar-root {
  padding-left: 12px !important;
}

.create-board::after{
  content: 'Create Board';
}